
@import 'resets';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables';
// @include outer-container(rem(1000));
// @include span-columns();
// @include omega();

// mixins
@mixin imgLayout($img) {
    background-image: url('$img');
    float: left;
    display: inline-block;
    transition: background-img 2s, background-img 2s;
    &:hover {
        background-img: ('url');
    }
}
//
main {
    background-color: $main-background-color;
    color: $text-color;

    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
    }

    .mountainImg {
      display: none;
    }

    .merchImg {
      display: none;
    }
  }

    .bikeImg {
        list-style-type: none;

        li:first-child {
            height: rem(480);
            background-image: url('https://dl.dropboxusercontent.com/u/19411356/day-07/RoadBike1.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            @include span-columns(12);
        }
    }
footer {
  width: 100vw;
  background-color: $main-background-color;
    ul{
      list-style-type: none;
      color: $primary-color;
      text-align: center;
      padding-bottom: 1rem;
      margin: 0rem;
      }
    }
  .navFooterSocialMedia {
    display: block;
    float: left;
    color: $primary-color;
    font-size: 5rem;
  }
  .contactInfo {
    ul {
      padding: 0rem;
      li{
        padding-bottom: 2rem;
        img {
          width: 5rem;
        }
    }
  }
}
  .g-maps{
    float: right;
    img{
      width: 72vw;
      margin-right: 1rem;
    }
  }

  .subFooter {
    display: inline-block;
    color: $primary-color;
    width: 100%;
    text-align: center;
  }
@media screen and (min-width: 840px){
footer {
  width: 100vw;
  background-color: $main-background-color;
    ul{
      list-style-type: none;
      color: $primary-color;
      text-align: center;
      padding-bottom: 1rem;
      margin: 0rem;
      }
    }
  .navFooterSocialMedia {
    display: block;
    float: left;
    color: $primary-color;
    font-size: 5rem;
    li{
      padding-bottom: 5rem;
    }
  }
  .contactInfo {
    ul {
      padding: 0rem;
      li{
        padding-bottom: .5rem;
        img {
          width: 5rem;
        }
    }
  }
}
  .g-maps{
    float: right;
    img{
      width: 72vw;
      margin-right: 7vw;
    }
  }

  .subFooter {
    display: inline-block;
    color: $primary-color;
    width: 100%;
    text-align: center;
  }
}
