/*
Error: File to import not found or unreadable: resets.
       Load path: /Users/shannonriester/Desktop/tiy/day-07/assignments/styles
        on line 2 of ./main.scss

1: @import 'variables';
2: @import 'resets';
3: 
4: // mixin
5: @mixin imgLayout($img) {
6:     background-image: url('$img');
7:     float: left;

Backtrace:
./main.scss:2
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:45:in `import'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/shannonriester/.rvm/rubies/ruby-2.2.1/lib/ruby/gems/2.2.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: resets.\A        Load path: /Users/shannonriester/Desktop/tiy/day-07/assignments/styles\A         on line 2 of ./main.scss\A \A 1: @import 'variables';\A 2: @import 'resets';\A 3: \A 4: // mixin\A 5: @mixin imgLayout($img) {\A 6:     background-image: url('$img');\A 7:     float: left;"; }
