$primary-color: #007A87;
$main-background-color: #EDEFED;
// $text-color: #C9CDCC; --too light for text
$caption-background: rgba(197,27,40, .5);
$header-color: #FECF67;
$font-family: sans-serif, Arial, Times;
