@import 'variables';
@import 'resets';
@import 'bourbon/bourbon';
@import 'neat/neat';

@include outer-container(rem(1000));
@include span-columns();
@include omega();

// mixin
@mixin imgLayout($img) {
    background-image: url('$img');
    float: left;
    display: inline-block;
    transition: background-img 2s, background-img 2s;

    &:hover {
      background-img: ('url');
    }
}
//
