@import 'resets';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'variables'; // @include outer-container(rem(1000));
// @include span-columns();
// @include omega();
// mixins
@mixin imgLayout($img) {
    height: rem(480);
    background-image: url($img);
    // background-size: contain;
    // display: block;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity, 1s ease-in-out;
    position: relative;
    &:hover {
        opacity: 0;
    }
}
/*- - - - - - -mobile view - - - - - - */
main {
    background-color: $main-background-color;
    color: $primary-color;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style-type: none;
        text-align: center;
        font-size: 3em;
        color: $header-color;
    }
    li {
        @include fill-parent;
    }
}
.mountainImg {
    display: none;
}
.townImg {
    display: none;
}
.bikeImg {
    float: left;
    width: 50vw;
    margin-bottom: -30rem;
    li:first-child {
        @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/RoadBike1.jpeg');
        &:hover {
            opacity: 1;
        }
    }
    li:nth-child(2) {
        @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/MountainBike1.jpeg');
        bottom: 30rem;
    }
}
.merchImg {
    float: right;
    width: 50vw;
    margin-bottom: -30rem;
    li:first-child {
        @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/Merchandise1.jpeg');
        &:hover {
            opacity: 1;
        }
    }
    li:nth-child(2) {
        @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/Merchandise3.jpeg');
        bottom: 30rem;
    }
}
main {
    @include clearfix();
}
/*- - - - - media query for larger size - - - - -*/
@media screen and (min-width: 965px) {
    .bikeImg {
        float: left;
        @include clearfix();
    }
    .merchImg {
        float: left;
        @include clearfix();
    }
    .mountainImg {
        display: block;
        float: left;
        @include clearfix();
    }
    .bikeImg {
        width: 33vw;
        margin-bottom: -30rem;
        li:first-child {
            @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/RoadBike2.jpeg');
            &:hover {
                opacity: 1;
            }
        }
        li:nth-child(2) {
            @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/RoadBike1.jpeg');
            bottom: 30rem;
        }
    }
    .merchImg {
        width: 34vw;
        margin-bottom: -30rem;
        li:first-child {
            @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/Merchandise1.jpeg');
            &:hover {
                opacity: 1;
            }
        }
        li:nth-child(2) {
            @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/Merchandise3.jpeg');
            bottom: 30rem;
        }
    }
    .mountainImg {
        width: 33vw;
        margin-bottom: -30rem;
        li:first-child {
            @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/MountainBike2.jpeg');
            &:hover {
                opacity: 1;
            }
        }
        li:nth-child(2) {
            @include imgLayout( 'https://dl.dropboxusercontent.com/u/19411356/day-07/MountainBike3.jpeg');
            bottom: 30rem;
            @include omega();
        }
    }
}
/*- - - - - - - - - biggest media query? - - - - - - - - - */
@media screen and (min-width: 965px) {
}
